body {
    margin: 0;

    overflow: hidden;

    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    box-sizing: border-box;

    padding: 5vh 20px 15vh;

    text-align: center;

    background: url('./img/balloons.webp') repeat-x 10% 85vh,
              rgba(28, 216, 68, 0.2) url('./img/balloons.webp') repeat-x 75% 90vh;
}

.header {
    font-size: 2em;
    font-family: 'Lemon', sans-serif;
    color: rgb(64, 202, 138);
}

.start__rules {
    margin: 20px 0;
}

.start__button {
    width: 200px;

    padding: 10px;
    margin: 0 auto;

    cursor: pointer;

    background-color: rgb(64, 202, 138);
    border: none;
    border-radius: 1.2em;

    font-size: 1.2em;
    color: #fff;
}

.game__timer {
    margin: 10px;

    position: relative;
    z-index: 100;
}

.game__needle {
    --translate-x: 0;

    box-sizing: border-box;
    width: 2px;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;

    transform: translateX(var(--translate-x));
}

.game__needle::before {
    content: "";

    width: 3000%;
    height: 90%;

    position: absolute;
    left: -1300%;
    top: 10%;

    background: url('./img/needle.png') no-repeat;
    background-size: contain;

    transform: rotate(-37.5deg);
}

.game__ball {
    --translate-x: 0;
    --translate-y: 0;
    --delay: 50ms;

    box-sizing: border-box;

    position: absolute;
    left: 0;

    border-radius: 50%;

    transform: translateX(var(--translate-x)) translateY(var(--translate-y));

    transition: opacity 1ms ease --delay;
}

.result__content {
    margin-top: 10px;
}

.result__pop-value {
    font-weight: bold;
    color: rgb(11, 155, 11);
}

.result__miss-value {
    font-weight: bold;
    color: rgb(235, 18, 61);
}

.hidden {
    display: none;
}
